class2/.vscode/configurationCache.log
class2/.vscode/dryrun.log
class2/.vscode/settings.json
class2/.vscode/targets.log
class2/helloworld
class2/fizzbuzz
class2/primefactors
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.vscode/tasks.json
class3/args
.vscode/c_cpp_properties.json
class3/parity
class3/upper
class3/tricolor
